.c-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 25%;
  height: 3rem;
  margin: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  text-decoration: none !important;
  color: black !important;
  font-weight: bold;
}

