@charset "UTF-8";

* {
  font-family: "M PLUS 1p", sans-serif;
}

a {
  text-decoration: none !important;
  color: black;
  font-family: "M PLUS 1p", sans-serif !important;
}

.table th {
  padding: 0;
}

.table th,
.table td {
  border-top: 0px solid #dee2e6;
}

.table td {
  padding: 0.5rem;
}

.header-box {
  max-width: 1200px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  background: #8adbf4;
  height: 50px;
  width: 100%;
}

header div {
  padding: 0 20px;
}

header .back i {
  font-size: 1.4rem;
}

header .text {
  font-size: 1.6rem;
}

main {
  margin-top: 50px;
}

body {
  max-width: 1200px;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.btn {
  filter: drop-shadow(3px 3px 2px rgba(143, 161, 170, 0.6));
  border-radius: 0.15rem;
}

.c-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 25%;
  height: 3rem;
  margin: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  text-decoration: none !important;
  color: black !important;
  font-weight: bold;
}

.c-btn {
  display: inline-block;
  padding: 5px 1rem;
  height: auto;
  font-weight: bold;
  background: #60dda9;
  border-radius: 5px;
}

/* === ボタンを表示するエリア ============================== */

.switchArea {
  line-height: 30px;
  /* 1行の高さ          */
  letter-spacing: 0;
  /* 文字間             */
  text-align: center;
  /* 文字位置は中央     */
  font-size: 12px;
  /* 文字サイズ         */
  position: relative;
  /* 親要素が基点       */
  margin: 3px auto;
  /* 中央寄せ           */
  width: 64px;
  /* ボタンの横幅       */
  background: #fff;
  /* デフォルト背景色   */
}

/* === チェックボックス ==================================== */

.switchArea input[type=checkbox] {
  display: none;
  /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */

.switchArea .e-border {
  box-sizing: border-box;
  /* 枠線を含んだサイズ */
  height: 30px;
  /* ボタンの高さ       */
  border: 2px solid #999999;
  /* 未選択タブのの枠線 */
  border-radius: 15px;
  /* 角丸               */
}

/* === チェックボックスのラベル（ONのとき） ================ */

.switchArea input[type=checkbox]:checked ~ .e-border {
  border-color: #78bd78;
  /* 選択タブの枠線     */
}

/* === 表示する文字（標準） ================================ */

.switchArea span {
  position: absolute;
  top: 1px;
  left: 12px;
}

/* === 表示する文字（標準） ================================ */

.switchArea span:after {
  content: "OFF";
  /* 表示する文字       */
  padding: 0 0 0 18px;
  /* 表示する位置       */
  color: #999999;
  /* 文字色             */
}

/* === 表示する文字（ONのとき） ============================ */

.switchArea input[type=checkbox]:checked ~ span:after {
  content: "ON";
  /* 表示する文字       */
  padding: 0 18px 0 0;
  /* 表示する位置       */
  color: #78bd78;
  /* 文字色             */
}

/* === 丸部分のSTYLE（標準） =============================== */

.switchArea #swImg {
  position: absolute;
  /* 親要素からの相対位置*/
  width: 22px;
  /* 丸の横幅           */
  height: 22px;
  /* 丸の高さ           */
  background: #999999;
  /* 色の色            */
  top: 4px;
  /* 親要素からの位置   */
  left: 4px;
  /* 親要素からの位置   */
  border-radius: 11px;
  /* 角丸               */
  transition: 0.2s;
  /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */

.switchArea input[type=checkbox]:checked ~ #swImg {
  transform: translateX(34px);
  /* 丸も右へ移動       */
  background: #78bd78;
  /* 丸の色*/
}

a:active,
button:active {
  filter: drop-shadow(3px 3px 2px rgba(143, 161, 170, 0));
}

.b-table-header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-table-header > .e-table-box {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-table-header > .e-table-box > .e-color {
  width: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
}

.b-table-header > .e-table-box > .e-color.m-disable {
  background: #767676;
}

.b-table-header > .e-table-box > .e-color.m-enable {
  background: #aef28d;
}

.b-table-header > .e-table-box > .e-color.m-use {
  background: #8adbf4;
}

.b-table-header > .e-table-box > .e-color.m-bill {
  background: #f3d25b;
}

.b-table-header > .e-table-box > .e-color.m-cleaning {
  background: #f88383;
}

.b-table-header > .e-table-box > .e-text {
  margin-left: 0.1rem;
}

.b-tables-status {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0.5rem 0.5rem;
}

.b-tables-status > .e-table-box {
  display: inline-block;
  padding: 0.1rem;
  width: calc(33.3333333333% - 0.4rem);
  margin: 0.2rem;
  height: 4rem;
  border: 1px solid #bbb;
  border-radius: 0.3rem;
  background: #8adbf4;
  text-align: center;
  box-shadow: #0005 1px 2px 2px;
}

.b-tables-status > .e-table-box.m-disable {
  background: #767676;
}

.b-tables-status > .e-table-box.m-enable {
  background: #aef28d;
}

.b-tables-status > .e-table-box.m-use {
  background: #8adbf4;
}

.b-tables-status > .e-table-box.m-bill {
  background: #f3d25b;
}

.b-tables-status > .e-table-box.m-cleaning {
  background: #f88383;
}

.b-tables-status > .e-table-box:active {
  box-shadow: #0000 0 0;
}

.b-tables-status > .e-table-box > .e-number,
.b-tables-status > .e-table-box > .e-status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  line-height: 1rem;
  overflow: anywhere;
}

.b-tables-status > .e-table-box > .e-number {
  border-radius: 0.3rem 0.3rem 0 0;
  background: #fff;
  text-align: center;
  font-weight: bold;
}

#exampleModal .modal-content {
  min-height: 50vh;
}

.b-modal-menu {
  transition: all 0.3s;
  text-align: center;
}

.b-modal-menu > .e-button {
  width: 70%;
  min-width: 10rem;
  margin: 0.5rem 0;
  background: #f3d25b;
}

.b-modal-menu > .e-button:active {
  color: white;
}

.b-input-people,
.b-input-enable,
.b-input-bill,
.b-input-disable,
.b-input-cleaned,
.b-input-cleaning {
  text-align: center;
}

.b-input-people > .e-title,
.b-input-enable > .e-title,
.b-input-bill > .e-title,
.b-input-disable > .e-title,
.b-input-cleaned > .e-title,
.b-input-cleaning > .e-title {
  font-weight: bold;
}

.b-input-people > .e-people-box,
.b-input-enable > .e-people-box,
.b-input-bill > .e-people-box,
.b-input-disable > .e-people-box,
.b-input-cleaned > .e-people-box,
.b-input-cleaning > .e-people-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.b-input-people > .e-people-box > .e-people,
.b-input-enable > .e-people-box > .e-people,
.b-input-bill > .e-people-box > .e-people,
.b-input-disable > .e-people-box > .e-people,
.b-input-cleaned > .e-people-box > .e-people,
.b-input-cleaning > .e-people-box > .e-people {
  width: 5rem;
}

.b-input-people > .e-buttons > .e-button,
.b-input-enable > .e-buttons > .e-button,
.b-input-bill > .e-buttons > .e-button,
.b-input-disable > .e-buttons > .e-button,
.b-input-cleaned > .e-buttons > .e-button,
.b-input-cleaning > .e-buttons > .e-button {
  margin: 0 1rem;
  width: 5rem;
}

.b-input-people > .e-buttons > .e-button.m-plus,
.b-input-enable > .e-buttons > .e-button.m-plus,
.b-input-bill > .e-buttons > .e-button.m-plus,
.b-input-disable > .e-buttons > .e-button.m-plus,
.b-input-cleaned > .e-buttons > .e-button.m-plus,
.b-input-cleaning > .e-buttons > .e-button.m-plus {
  background: #38c172;
}

.b-input-people > .e-submit,
.b-input-enable > .e-submit,
.b-input-bill > .e-submit,
.b-input-disable > .e-submit,
.b-input-cleaned > .e-submit,
.b-input-cleaning > .e-submit {
  margin: 2rem 0;
  width: 7rem;
}


