body {
  max-width: 1200px;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background: #8ec8f7;
  height: 50px;
}

header div {
  padding: 0 20px;
}

header .back i {
  font-size: 1.4rem;
}

header .text {
  font-size: 1.6rem;
}

.b-content {
  padding: 20px 20px 20px;
}

.top-menu {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 30px 100px;
  flex-wrap: wrap;
  background: #fef;
}

.top-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 50px;
  width: 300px;
  height: 100px;
  background: #4aa;
  border-radius: 10px;
  border: 1px solid #555;
  text-decoration: none;
}

.b-menu-category > .e-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.b-menu-category > .e-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.b-category-add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.b-category-save {
  position: -webkit-sticky;
  position: sticky;
  bottom: 50px;
  right: 0px;
  padding: 20px;
  text-align: right;
  border-top: 1px solid #767676;
}

.b-category-table {
  height: 100%;
}

.b-category-head {
  font-weight: bold;
  background: #ccc;
}

.b-category-head > .e-color,
.b-category-head > .e-display {
  text-align: center;
  margin: auto;
}

.b-category-body {
  width: 100%;
}

.b-category-body > .e-color > div {
  height: 30px;
}

.b-category-body > .e-trash {
  text-align: center;
}

.b-category-body > .e-trash .trash {
  font-size: 1.3rem;
  color: #8ec8f7;
}

.aaa {
  background: #330;
  width: 100%;
  height: 500px;
}

