* {
  font-family: "M PLUS 1p", sans-serif;
}

a {
  text-decoration: none !important;
  color: black;
  font-family: "M PLUS 1p", sans-serif !important;
}

.header-box {
  max-width: 1200px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background: #8ADBF4;
  height: 50px;
  width: 100%;
}

header div {
  padding: 0 20px;
}

header .back i {
  font-size: 1.4rem;
}

header .text {
  font-size: 1.6rem;
}

main {
  margin-top: 50px;
}

body {
  max-width: 1200px;
  width: 100%;
}

.side-menu {
  width: 200px;
  max-width: 200px;
}

.side-menu > div {
  position: fixed;
  background: #38f;
  height: 100vh;
  width: 100%;
  max-width: 200px;
}

.b-side-menu {
  color: white;
  margin: 1rem 0;
  list-style: none;
  padding-left: 0rem;
}

.b-side-menu li {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.b-side-menu li > * {
  color: #fff;
}

.b-side-menu li > a {
  width: 100%;
  padding: 1rem 1rem;
}

.b-side-menu i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.b-side-menu .active {
  font-weight: bold;
  background: #fff;
}

.b-side-menu .active > * {
  color: #222;
}

.top-menu {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  flex-wrap: wrap;
}

.top-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  margin: 20px 30px;
  width: 200px;
  height: 100px;
}

.top-menu a div:last-child {
  font-size: 1rem;
}

.b-menu-category > .e-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.b-menu-category > .e-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.category-table {
  margin: 10px 0px 0;
  height: calc(100vh - 20px - 50px - 70px);
}

.b-category-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border-top: 1px solid #767676;
  background: #fff;
}

.b-category-save .btn {
  height: 40px;
}

.b-category-table {
  position: relative;
  overflow-y: scroll;
}

.b-category-head {
  font-weight: bold;
  background: #ccc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.b-category-head > .e-color,
.b-category-head > .e-display {
  text-align: center;
  margin: auto;
}

.b-category-body {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.b-category-body td {
  vertical-align: middle !important;
}

.b-category-body > .e-color > .picker {
  width: 2rem;
  visibility: hidden;
}

.b-category-body > .e-color > div {
  height: 30px;
}

.b-category-body > .e-trash {
  text-align: center;
}

.b-category-body > .e-trash .trash {
  font-size: 1.3rem;
  color: #8ADBF4;
}

.b-none-category {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.b-none-category .m-text {
  font-size: 1.1rem;
}

