@import 'variables';

a{
  text-decoration: none !important;
  color: black;
}

.header-box{
  max-width: 1200px;
  position:fixed;
  top: 0;
  width: 100%;
  z-index:100;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  background: $u-main;
  height: 50px;
  width: 100%;

  div{
    padding: 0 20px;
  }
  .back i{
    font-size: 1.4rem;
  }
  .text{
    font-size: 1.6rem;
  }
}
main{
  margin-top: 50px;
}
body{
  max-width: 1200px;
  width: 100%;
}

.side-menu{
  width:200px;
  max-width:200px;

  >div{
    position:fixed;
    background:#38f;
    height:100vh;
    width:100%;
    max-width:200px;
  }
}
.b-side-menu{
  color: white;
  margin-top: 2rem;
  .side-active{
    font-weight: bold;
  }
}
//------------------------
//メニュー選択画面
//------------------------

.top-menu{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  flex-wrap: wrap;

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: 1.5rem;
    margin: 20px 30px;
    width: 200px;
    height: 100px;

    div:last-child{
      font-size: 1rem;
    }

  }
}


//------------------------
//メニュー登録
//------------------------
.b-menu-category{
  >.e-title{
    font-weight: bold;
    font-size: 1.3rem;
  }
  >.e-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

}


//------------------------
//カテゴリー編集
//------------------------
.category-table{
  margin: 10px 0px 0;
  height: calc(100vh - 20px - 50px - 70px);
}
.b-category-save{
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border-top: 1px solid $gray;
  background: #fff;

  .btn{
    height: 40px;
  }
}

.b-category-table{
  position: relative;
  overflow-y: scroll;
}

.b-category-head{
  font-weight: bold;
  background: $lightgray;
  position:sticky;
  top: 0;
  z-index:10;

  >.e-color,
  >.e-display{
    text-align: center;
    margin: auto;
  }
}

.b-category-body{
  width: 100%;
  border-bottom: 1px solid $lightgray;
  td{
    vertical-align: middle !important;
  }
  >.e-color{
    >div{
      height: 30px;
    }
  }
  >.e-trash{
    text-align: center;
    .trash{
      font-size: 1.3rem;
      color: $u-main;
    }
  }
}